@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Playfair+Display:wght@400&family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ECF0F3;
}

.container {
    display: flex;
    gap: 1.5em;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.wrapper {
    width: 200px;
    padding: 2em;
    background: #ECF0F3;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}

.box-1, .box-6 {
    height: 200px;
}

.box-2, .box-5 {
    height: 400px;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    line-height: 1.5;
}

.box-2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 5px;
    color: #777;
}

.box-3 {
    height: 500px;
}

.box-3, .box-4 {
    width: 250px;
}

.box-3 p {
    text-align: justify;
    line-height: 2;
}

.box-3 img {
    height: 100px;
    display: block;
    margin: 2em auto;
}

.box-4 {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.box-5 img {
    height: 1.5em;
    margin-right: 10px;
}

.box-6 {
    padding: 1em;
}

.tech {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

h1 {
    font-family: 'Cinzel', cursive;
    text-align: justify;
}

h2 {
    margin-bottom: 0.5em;
}

img {
    height: 100%;
}

video {
    width: 100%;
}
