* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

section, img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: beige;
    margin: 8px;
    border-radius: 16px;
}

.rowspan {
    width: 408px;
}
